body{
    margin: 0px;
    background-color: #000;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;;
}

header{
    background-color: red;
    color: white;
    border-bottom: 5px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 10px auto;
}

.image{
    height: 100px;
    padding-top: 20px;
}

li{
    display: inline;
    margin-right: 70px;
}

ul{
    text-align: center;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: white;
    align-items: center;
}

a:hover{
    color: black;
}

.escalation{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #fff;
}

.news{
    text-align: center;
    border-bottom: 5px solid red;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}

.news p{
    padding-top: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
}

.footer img{
    width: 180px;
    height: 180px;
    padding-bottom: 20px;
}

.footer p{
    color: #fff;
}